@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; 
  --background-rgb: 30, 30, 46;
  --primary-rgb: 236, 238, 242; 
  --secondary-rgb: 192, 194, 199;
  --primary-text-rgb: 166, 227, 161;
  --secondary-text-rgb: 108, 99, 255;
  --error-text-rgb: 203, 166, 247;
  --warning-text-rgb: 245, 194, 231;
}

/*
 * TODO: This is redundant for now, all user will have catpuccin, I might change this later so only users who prefer
 * dark scheme will have catpuccin theme
 *
@media (prefers-color-scheme: dark) {
  :root {
  --foreground-rgb: 0, 0, 0; 
  --background-rgb: 48, 52, 70;
  --primary-rgb: 236, 238, 242; 
  --secondary-rgb: 192, 194, 199;
  --primary-text-rgb: 166, 227, 161;
  --secondary-text-rgb: 108, 99, 255;
  --error-text-rgb: 203, 166, 247;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

input[type=text] {
  width: 20rem;
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--primary-rgb));
}
input[type=text]:focus-visible {
  outline: none;
}

.dot {
  animation: dotAnimation 0.8s infinite;
}

@keyframes dotAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dot:nth-child(1) {
  animation-delay: 0.2s;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

#__next {
  width: 100%;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
